.headersection {
	background: #5C5CFE none repeat scroll 0 0;
	color: #FFF;
}
.icon a {
	background: #bbbbbb none repeat scroll 0 0;

}
.footersection {
	background: #5C5CFE;

}
.footer-copyright {

	background-color: #3D3DDF;

}
.navsection {
	background: none repeat scroll 0 0 #5CB4FE;
}
.samesidebar h2 {
	background: #5C5CFE none repeat scroll 0 0;
}
.samepost h2 a {
	color: #8989EB;
}
